/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background: url("../sass/assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: flex-end;
}

body {
  font-family: "Nunito Sans", "Helvetica", "Trebuchet MS", Arial, sans-serif;
  color: #202020;
  font-weight: 300;
}

.player {
  letter-spacing: -0.5px;
}

.stats {
  display: inline-block;
  background: rgba(117, 158, 96, 0.8);
  color: #fcf9f7;
  padding: 0.25rem 0.45rem 0.25rem 0.35rem;
  margin: 0.25rem 0.15rem;
  font-weight: 400;
}

.box {
  border-radius: 15px 2.5px;
  border: 1px solid #83a870;
  background: #fcf9f7;
}

.board {
  width: 70vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
  background: #fcf9f7;
  border-right: none;
  border-top: none;
}
.board__row {
  display: flex;
  flex: 1;
}
.board__cell {
  flex: 1;
  border-right: 1px solid #83a870;
  border-top: 1px solid #83a870;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.player__title {
  color: #fcf9f7;
  background: #91b280;
  padding: 0.55rem 1.25rem;
  border: 1px solid #fcf9f7;
  border-radius: 15px 2.5px;
  position: relative;
  top: 1rem;
  z-index: 1;
}
.player__stats {
  width: 25vh;
  height: 35vh;
  background-size: cover;
  position: relative;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
  box-shadow: 3px 3px 1px #fcf9f7, -3px -3px 1px #fcf9f7, 3px -3px 1px #fcf9f7, -3px 3px 1px #fcf9f7;
}
.player__stats--1 {
  background-image: url("../sass/assets/player1.png");
}
.player__stats--2 {
  background-image: url("../sass/assets/player2.png");
}

/*# sourceMappingURL=style.css.map */
