/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background: url("../sass/assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90%;
}

.main {
  display: flex;
  align-items: flex-end;
}

button {
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}

[contentEditable=true]:focus {
  display: inline-block;
  border: 1px solid #769e62;
  outline: none;
  background: #fcf9f7;
  padding: 0.25rem 0.25rem 0.25rem 0;
}

input,
select {
  border: 1px solid #92b182;
  background: #fcf9f7;
  padding: 0.15rem 0.25rem;
}
input:focus,
select:focus {
  outline: none;
}

label {
  margin: 1rem 0 0.15rem 0;
}

.hidden {
  display: none;
}

body,
.btn {
  font-family: "Nunito Sans", "Helvetica", "Trebuchet MS", Arial, sans-serif;
  color: #202020;
  font-weight: 300;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.player {
  letter-spacing: -0.5px;
}
.player__change {
  font-size: 1.5rem;
  color: #769e62;
}

.stats {
  display: inline-block;
  background: rgba(106, 142, 88, 0.8);
  color: #fcf9f7;
  padding: 0.35rem;
  margin: 0.25rem 0.35rem;
  font-weight: 400;
  text-transform: uppercase;
}

.btn {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #3a3a3a;
}

small {
  font-size: 0.85rem;
  color: #536f45;
}

.settings__apply {
  font-size: 0.85rem;
}

input,
select {
  font-family: "Nunito Sans", "Helvetica", "Trebuchet MS", Arial, sans-serif;
  font-size: 1rem;
}

label {
  text-transform: uppercase;
  font-size: 0.85rem;
}

.close {
  color: #769e62;
  font-size: 1.25rem;
}

.btn {
  background: #fcf9f7;
  border: 1px solid rgba(106, 142, 88, 0.7);
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-right: 0.5rem;
  cursor: pointer;
}
.btn .icon {
  background: rgba(106, 142, 88, 0.7);
  color: #fcf9f7;
  padding: 0.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 2rem;
  margin-right: 0.5rem;
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.box {
  border-radius: 15px 2.5px;
  border: 1px solid #769e62;
  background: #fcf9f7;
  box-shadow: 3px 3px 1px #fcf9f7, -3px -3px 1px #fcf9f7, 3px -3px 1px #fcf9f7, -3px 3px 1px #fcf9f7;
}

.title {
  color: #fcf9f7;
  background: #84a872;
  padding: 0.55rem 1.25rem;
  border: 1px solid #fcf9f7;
  border-radius: 15px 2.5px;
  position: relative;
  z-index: 1;
}

.result {
  width: 50vh;
  text-align: center;
  padding: 0.75rem 0;
  background: url("../sass/assets/result.png");
}

.board {
  width: 70vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
  background: #fcf9f7;
}
.board__row {
  display: flex;
  flex: 1;
  border-top: 1px solid #769e62;
}
.board__row:first-child {
  border-top: none;
}
.board__cell {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #769e62;
}
.board__cell:last-child {
  border-right: none;
}

.mark {
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}
.mark--hover--x {
  background-image: url("../sass/assets/X.png");
  opacity: 0.2;
}
.mark--x {
  background-image: url("../sass/assets/X.png");
  opacity: 1;
}
.mark--o {
  background-image: url("../sass/assets/O.png");
  opacity: 1;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.player__title {
  top: 2rem;
}
.player__type {
  display: flex;
}
.player__change {
  margin: 0.5rem;
}
.player__image {
  width: 100px;
  height: auto;
}
.player__stats {
  width: 25vh;
  height: 35vh;
  background-size: cover;
  position: relative;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 2rem 0 2rem;
}
.player__stats--1 {
  background-image: url("../sass/assets/player1.png");
}
.player__stats--2 {
  background-image: url("../sass/assets/player2.png");
}

nav {
  display: flex;
  justify-content: space-between;
  width: 42.5vh;
}

.settings {
  position: absolute;
  max-width: 250px;
  height: 400px;
  padding: 0 2.5rem;
}
.settings__title {
  top: -1rem;
  text-align: center;
}
.settings__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  margin-top: 0.75rem;
}
.settings__apply {
  border-radius: 5px;
  align-self: center;
  margin: 1rem;
}

/*# sourceMappingURL=style.css.map */
