@import "../sass/utils/variables";
@import "../sass/base/base";
@import "../sass/base/typography";
@import "../sass/components/buttons";
@import "../sass/components/box";
@import "../sass/layout/result";
@import "../sass/layout/board";
@import "../sass/layout/player";
@import "../sass/layout/nav";
@import "../sass/layout/settings";