.board {

  width: 70vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
  background: $color-secondary;
  
  &__row {
    display: flex;
    flex: 1;
    border-top: 1px solid $color-primary;

    &:first-child {
      border-top: none;
    }

  }

  &__cell {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid $color-primary;

    &:last-child {
      border-right: none;
    }

  }
}

.mark {

  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;

  &--x {
    background-image: url('../sass/assets/X.png');
  }

  &--o {
    background-image: url('../sass/assets/O.png');
  }

}