.player__stats {

  width: 25vh;
  height: 35vh;
  border: 1px solid blue;
  border-radius: 15px;
  background: url('../sass/assets/aside1.png');
  background-size: cover;

  &::before {
    display: block;
    content: "";
    background: rgba(255, 255, 255, .5);
    width: 100%;
    height: 100%;
  }

}