body,
.btn {
  font-family: $font-family;
  color: $color-font;
  font-weight: 300;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.player {
  letter-spacing: -.5px;

  &__change {
    font-size: 1.5rem;
    color: $color-primary;
  }
}

.stats {
  display: inline-block;
  background: rgba(darken($color-primary, 5%), 0.8);
  color: $color-secondary;
  padding: .35rem;
  margin: .25rem .35rem;
  font-weight: 400;
  text-transform: uppercase;
}

.btn {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: lighten($color-font, 10%);
}

small {
  font-size: 0.85rem;
  color: darken($color-primary, 15%);
}

.settings__apply {
  font-size: 0.85rem;
}

input,
select {
  font-family: $font-family;
  font-size: 1rem;
}

label {
  text-transform: uppercase;
  font-size: 0.85rem;
}

.close {
  color: $color-primary;
  font-size: 1.25rem;
}