$color-primary: #769e62;
$color-secondary: #fcf9f7;
$color-font: #202020;

$font-family: 'Nunito Sans', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
$border-radius: 15px 2.5px;
$border-primary: 1px solid $color-primary;